CREATE TYPE payment_status AS ENUM ('pending', 'approved', 'rejected');

CREATE TABLE public.payment_requests (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id uuid REFERENCES public.profiles(id) NOT NULL,
  item_id uuid NOT NULL,
  item_type text NOT NULL,
  amount numeric NOT NULL,
  currency text DEFAULT 'USD',
  status payment_status DEFAULT 'pending',
  proof_url text, -- For receipts (optional)
  admin_notes text,
  created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
  updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE public.payment_requests ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Users
view
their
own
requests\ ON public.payment_requests FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY \Admins
manage
all
requests\ ON public.payment_requests FOR ALL USING (
  exists (select 1 from public.profiles where id = auth.uid() and role = 'admin')
);
INSERT INTO storage.buckets (id, name, public) VALUES ('payment-proofs', 'payment-proofs', true);

CREATE POLICY \
Public
Access
for
Payment
Proofs\ ON storage.objects FOR SELECT USING (bucket_id = 'payment-proofs');
CREATE POLICY \Authenticated
Upload
to
Payment
Proofs\ ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'payment-proofs' AND auth.role() = 'authenticated');
